body {
    background-color: blanchedalmond;
  }
  
  h1 {
    color: black;
  }
  
  h2 {
    color: 666666;
  }
  
  p {
    color: 999999;
    margin: 5px;
  }
  
  I {
    color: 999999;
    margin: 5px;
  }
  
  B {
    color: 999999;
    margin: 5px;
  }
