body {
    background-color: blanchedalmond;
    margin: 20px;
    margin-right: 100px;
  }
  
  h1 {
    color: black;
  }
  
  h2 {
    color: 666666;
  }
  
  p {
    color: 999999;
  }
  
  I {
    color: 999999;
  }
  
  B {
    color: 999999;
  }
