body {
  background-color: FFCCCC;
}

h1 {
  color: black;
  font-family: verdana;
}

h2 {
  color: 666666;
  font-family: verdana;
}

p {
  color: 999999;
  font-family: verdana;
  margin: 40px;
}

I {
  color: 999999;
  font-family: verdana;
  margin: 40px;
}

B {
  color: 999999;
  font-family: verdana;
  margin: 40px;
}
